---
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
import Layout from './Layout.astro';
import config from '@/config';
import Main from './Main.astro';

export interface Props {
  frontmatter: {
    title: string;
    description?: string;
  };
}

const { frontmatter } = Astro.props;
---

<Layout title={`${frontmatter.title} | ${config.title}`}>
  <Header />
  <Main pageTitle="About">
    <article
      id="article"
      class="app-prose max-w-app prose-pre:bg-(--shiki-light-bg) dark:prose-pre:bg-(--shiki-dark-bg) mx-auto mt-8"
    >
      <slot />
    </article>
  </Main>
  <Footer />
</Layout>
